<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="/public/global.css">
</head>
<body>
{{- /* gotype: homepage/routes/home.Data */ -}}

<h1>{{ .Title }}</h1>

<div class="bg-yellow-800 text-white p-4 rounded-xl">
    <p>In home</p>
</div>

</body>
</html>


