<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/global.min.css">
</head>
<body class="bg-neutral-700 text-white absolute inset-0 grid items-center">

<div class="grid gap-12 p-4">
    <div class="flex justify-center">
        <form
                class="grid gap-3 max-w-sm w-full text-black"
                method="post"
        >
            <input
                    id="name"
                    name="name"
                    class="w-full rounded-lg border-0 py-1.5 focus:outline-none focus:ring-0"
                    placeholder="Name"
                    autocomplete="off"
                    autocapitalize="off"
                    autofocus
            >

            <input
                    id="url"
                    name="url"
                    class="w-full rounded-lg border-0 py-1.5 focus:outline-none focus:ring-0"
                    placeholder="URL"
                    autocomplete="off"
                    autocapitalize="off"
            >

            <button
                    class="bg-blue-500 text-white w-full rounded-lg border-0 py-1.5 focus:outline-none focus:ring-0"
                    type="submit"
            >
                Add
            </button>

        </form>
    </div>

</div>

</body>
</html>


